@use './mixins' as mixins;
@use './vars' as vars;

.currency {
  &__title {
    margin-bottom: 56px;
  }

  &__grid {
    display: grid;
    grid-auto-flow: column;
    // grid-template-rows: 3fr 2fr;
    grid-template-rows: auto;
    grid-template-columns: 587px 1fr;
    gap: 44px 50px;
  }

  &__balance, &__exchange, &__rate {
    padding: 50px;
  }

  &__rate {
    grid-row-end: span 2;
  }
}

.currency-list {
  @include mixins.font-work-sans;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.1em;

  &__item {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  &__name {
    font-weight: 600;
  }

  &__leader {
    flex-shrink: 1;
    flex-grow: 1;
    border-bottom: 1px dashed black;
    transform: translateY(-5px);
  }

  &__price {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  &__icon {
    width: 20px;
  }
}

.exchange {
  &__form {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(2, 1fr) 104px;
  }

  &__input-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 20px;
  }

  &__label {
    position: static;
    transform: none;
  }

  & .select-primary__list {
    width: 134px;
  }

  &__amount {
    // display: block;
    order: 1;
    grid-column-end: span 2;
    gap: 7px;
  }

  &__amount &__input {
    // margin-left: 7px;
    margin-left: 0;
  }

  &__button {
    grid-row-end: span 2;
    padding: 46px 13px;
  }
}

@media (max-width: 1399px) {
  .currency {
    &__grid {
      grid-template-rows: initial;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .exchange {
    &__form {
      display: flex;
      flex-wrap: wrap;
    }

    &__amount {
      order: 0;
    }

    &__button {
      padding: 16px 24px;
    }
  }
}

@media (max-width: 1199px) {
  .currency {
    &__grid {
      display: flex;
      flex-direction: column;
      // grid-template-rows: initial;
      // grid-template-columns: ini
    }
  }
}
