@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
  url("../resources/fonts/roboto-regular-webfont.woff2") format("woff2"),
  url("../resources/fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Medium"),
  url("../resources/fonts/roboto-medium-webfont.woff2") format("woff2"),
  url("../resources/fonts/roboto-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu Light"),
  url("../resources/fonts/ubuntu-light-webfont.woff2") format("woff2"),
  url("../resources/fonts/ubuntu-light-webfont.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu"),
  url("../resources/fonts/ubuntu-regular-webfont.woff2") format("woff2"),
  url("../resources/fonts/ubuntu-regular-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu Medium"),
  url("../resources/fonts/ubuntu-medium-webfont.woff2") format("woff2"),
  url("../resources/fonts/ubuntu-medium-webfont.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu Bold"),
  url("../resources/fonts/ubuntu-bold-webfont.woff2") format("woff2"),
  url("../resources/fonts/ubuntu-bold-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Light"),
  url("../resources/fonts/opensans-light-webfont.woff2") format("woff2"),
  url("../resources/fonts/opensans-light-webfont.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"),
  url("../resources/fonts/opensans-regular-webfont.woff2") format("woff2"),
  url("../resources/fonts/opensans-regular-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Medium"),
  url("../resources/fonts/OpenSans-Medium.woff2") format("woff2"),
  url("../resources/fonts/OpenSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans SemiBold"),
  url("../resources/fonts/opensans-semibold-webfont.woff2") format("woff2"),
  url("../resources/fonts/opensans-semibold-webfont.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Bold"),
  url("../resources/fonts/opensans-bold-webfont.woff2") format("woff2"),
  url("../resources/fonts/opensans-bold-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Work Sans";
  src: local("Work Sans Light"),
  url("../resources/fonts/work-sans-light-webfont.woff2") format("woff2"),
  url("../resources/fonts/work-sans-light-webfont.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Work Sans";
  src: local("Work Sans"),
  url("../resources/fonts/work-sans-regular-webfont.woff2") format("woff2"),
  url("../resources/fonts/work-sans-regular-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Work Sans";
  src: local("Work Sans SemiBold"),
  url("../resources/fonts/work-sans-semibold-webfont.woff2") format("woff2"),
  url("../resources/fonts/work-sans-semibold-webfont.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
