$color-primary: #116acc;
$color-primary-dark: #0c4a8f;
$color-secondary-1: #182233;
$color-secondary-2: #b3cee2;
$color-secondary-3: #d9dde7;
$color-secondary-4: #fd4e5d;

$color-dark: black;
$color-gray-1: #1f2937;
$color-gray-2: #374151;
$color-gray-3: #4b5563;
$color-gray-4: #6b7280;
$color-gray-5: #9ca3af;
$color-gray-6: #d1d5db;
$color-gray-7: #f3f4f6;
$color-white: white;

$color-info: #a0c3ff;
$color-success: #76ca66;
$color-warning: #fbc756;
$color-error: #ba0000;

$transition-duration: 150ms;
$transition-animation-duration: 300ms;
$transition-timing: ease-in-out;

$font-roboto: 'Roboto', sans-serif;
$font-ubuntu: 'Ubuntu', sans-serif;
$font-opensans: 'Open Sans', sans-serif;
$font-worksans: 'Work Sans', sans-serif;
